html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page{
	display: flex;
	flex-direction: column;
	width: 750px;
  padding:25px;
  text-align: justify;
}

body{
	font-family: sans-serif;
	font-size: 27px;
	background: #d9d9d9;
	color: #0f2147;
	padding-bottom: 50px;
}
.first-image{
  float: left;
}

.second-image{
	align-self: center;
	float: bottom;
}

.text{
	padding: 2rem 0.5rem 10rem;
}
.link-list{
	display: flex;
	flex-direction: row;
	float: bottom;
	align-items: center;
}

